body{
    background-color: rgb(24, 23, 23);
}

.txt {
    color: white;
}

.txt-dark {
    color: rgb(34, 33, 33);
}

.bg-button{
    background-color: rgb(32, 29, 29);
}

.border-1{
    border: 1px solid rgba(36, 36, 36, 0.624);
}

.menu ul{
    background-color: rgb(31, 31, 31);
}

.menu ul>li{
    background-color: rgb(31, 31, 31);
    text-decoration: none;
    border: none;
    border-bottom: 1px solid white;
}

.menu ul>li>a{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}